@charset "ISO-8859-1";
.card{
    width: auto;
    background:black;
}
.container{

  
}
.menu{
    position:fixed;
    justify-content:center;
    background:white;
    width:30vw;
    height:auto;
    left:35vw;
    top: 25vh;
}
.form{
    display:flex;
    justify-content:left;
}
body {
    padding:0;
    margin:0;
}