body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Table1
{
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 270px;
   height: 248px;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 502px;
   height: 248px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#ListView1
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   border-width: 0;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
#ListView1 .ui-btn 
{
   margin: .5em 0;
   padding: 12px 18px 12px 18px;
   display: block;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
   overflow: hidden;
   cursor: pointer;
}
#ListView1 .ui-btn:link 
{
   text-decoration: none !important;
}
#ListView1 .ui-btn, label.ui-btn 
{
   border-width: 1px;
   border-style: solid;
}
#ListView1, #ListView1 > li 
{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 13px;
}
#ListView1 > li 
{
   display: block;
   position: relative;
   overflow: visible;
   box-sizing: border-box;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   display: block;
   position: relative;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   border-style: solid;
   border-width: 1px 1px 0 1px;
   font-weight: normal;
   text-align: left;
   margin: 0;
   flex: 1 0 100%;
}
#ListView1 > li
{
   margin: 0;
   flex: 1 0 100%;
}
#ListView1 .ui-state-default
{
   color: #454545 !important;
}
#ListView1 .ui-state-hover
{
   color: #2B2B2B !important;
}
#ListView1 .ui-state-active
{
   color: #FFFFFF !important;
}
#ListView1 > .ui-li-divider 
{
   padding: 10px 10px 10px 10px;
   cursor: default;
   outline: 0;
}
#ListView1 > .ui-li-static 
{
   padding: 12px 18px 12px 18px;
}
#ListView1 > li.ui-first-child, #ListView1 > li.ui-first-child > a.ui-btn 
{
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
#ListView1 > li.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn
{
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}
#ListView1 > .ui-li-has-icon > .ui-btn, #ListView1 > .ui-li-static.ui-li-has-icon, #ListView1 > .ui-li-divider.ui-li-has-icon
{
   min-height: 24px;
   padding-left: 36px;
}
#ListView1 > .ui-li-static.ui-last-child, #ListView1 > .ui-li-divider.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn 
{
   border-bottom-width: 1px;
}
#ListView1 > .ui-li-has-icon > img:first-child, #ListView1 > .ui-li-has-icon > .ui-btn > img:first-child 
{
   border-width: 0;
   position: absolute;
   left: 18px;
   top: 12px;
   margin-bottom: 0px;
   max-width: 0px;
   max-height: 0px;
}
#ListView1 p 
{
   margin: 0;
   padding: 8px 0px 0px 0px;
   font-size: 11px;
   font-weight: normal;
}
#wb_ListView1
{
   margin: 0;
}
#ListView1 .badge
{
   background-color: #007BFF;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
